.container-cards {
    display: flex;
    flex-direction: row;

    width: 50vw;

    justify-content: space-around;
}

button#add-card {
    width: 3rem;
    height: 3rem;

    margin-bottom: 2rem;
}