.container-cards {
    display: flex;
    flex-direction: row;

    width: 50vw;

    justify-content: space-around;
}

button#add-card {
    width: 3rem;
    height: 3rem;

    margin-bottom: 2rem;
}

@media (max-width: 430px) {
    .container-cards {
        display: flex;
        flex-direction: column;
    
        width: 90vw;
    
        justify-content: space-around;
    }
}