.container-app {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.header {
    margin: 0rem 1.5rem 2rem 1.5rem;
}

h1#header {
    font-size: 44px;
    font-weight: 700;
    font-style: italic;
}