/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background: linear-gradient(180deg, #ee514c 0%, #f5b08d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* width: 20rem; */
  padding: 2rem;

  border: 2px rgb(255, 255, 255) solid;
  border-radius: 25px;

  background-color: #000000ce;
  background-blend-mode: overlay;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;

  margin: 0 2rem;
}

/* Icons */
span#pin svg {
  stroke: #f53939;
  fill: #f53939;
}

span#drop svg {
  stroke: #3535eb;
  fill: #3535eb;
}

span#wind svg {
  stroke: #c0bbbb;
  fill: #c0bbbb;
}

/* Button */
button {
  background-color: #3535eb;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

button:hover {
  opacity: 0.75;
  transition: 0.3s;
}

@media (max-width: 430px) {
  .container {
    margin-bottom: 2rem;
  }
}